body {
    font-family: sans-serif;
}

#container {
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
}

#pet-container {
    width: 200px;
    margin: 0 auto;
    background: rgba( 200, 20, 200, 0.5);
}


/* Pet Commands */
.pet-command {
    width: 30%;
    display: inline-block;
    height: 100px;
}

.pet-command h2 {
    font-size: 20px;
    width: 100%;
}

.pet-command img:hover {
    transform: rotate( 25deg );
    -webkit-transform: rotate( 25deg );
}

/* Pet Status Meters */
#pet-stats {
    max-width: 420px;
    margin: 50px auto;
}

.pet-stat-meter {
    width: 100%;
    height: 40px;
}

.pet-stat-label {
    font-size: 20px;
    float: left;
    margin: 0;
}

.pet-stat-bar {
    float: right;
    width: 155px;
    font-size: 20px;
    position: relative;
    letter-spacing: 10px;
}

.pet-stat-mood-level {
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;
    height: 11px;
    width: 10%;
    background: rgba( 200, 20, 20, 0.75);
    -webkit-transition: width, 1s;
}